<%= form_with(model: calendar, class: "contents") do |form| %>
  <% if calendar.errors.any? %>
    <div id="error_explanation" 
         class="bg-red-50 text-red-500 px-3 py-2 font-medium rounded-lg mt-3">
      <h2><%= pluralize(calendar.errors.count, "error") %> prohibited this calendar from being saved:</h2>

      <ul>
        <% calendar.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <%= form.hidden_field :day %>

  <div class="my-5">
    <%= form.label :day %>
    <% if action_name == "new" %>
      <%= form.date_field :day, class: "frm_ln" %>
    <% else %>
      <%  wd = ["日", "月", "火", "水", "木", "金", "土"] %>
      <%= content_tag(:div, calendar.day.strftime("%Y年%m月%d日 (#{wd[calendar.day.wday]})"), class: "frm_ln") %>
    <% end %>
  </div>

  <div class="my-5">
    <%= form.label :begin_time %>
    <%= form.datetime_field :begin_time, class: "frm_ln" %>
  </div>

  <div class="my-5">
    <%= form.label :close_time %>
    <%= form.datetime_field :close_time, class: "frm_ln" %>
  </div>

  <div class="my-5">
    <%= form.label :interval_s %>
    <%= form.datetime_field :interval_s, class: "frm_ln" %>
  </div>

  <div class="my-5">
    <%= form.label :interval_e %>
    <%= form.datetime_field :interval_e, class: "frm_ln" %>
  </div>

  <div class="my-5">
    <%= form.label :unit_minute %>
    <%= form.number_field :unit_minute, class: "frm_ln" %>
  </div>

  <div class="my-5">
    <%= form.label :no_use %>
    <%= form.check_box :no_use, class: "block mt-2 h-5 w-5" %>
  </div>

  <div class="inline">
    <%= form.submit class: "frm_btn bg-blue-600" %>
  </div>
<% end %>
